<div class="container">
    <form (ngSubmit)="addScheme()" class="form-container">
      <div class="form-group">
        <label for="text">Scheme Text:</label>
        <textarea id="text" [(ngModel)]="newScheme.text" name="text" required></textarea>
      </div>
      <div class="form-group">
        <label for="url">URL:</label>
        <input id="url" [(ngModel)]="newScheme.url" name="url" required>
      </div>
      <button type="submit">Add Scheme</button>
    </form>
  
    <ul class="scheme-list">
      <li *ngFor="let scheme of newSchemes; let i = index">
        <div class="scheme">
          <p>{{ scheme.text }}</p>
          <a [href]="scheme.url" target="_blank">{{ scheme.url }}</a>
          <button (click)="editScheme(i)">Edit</button>
          <button (click)="deleteScheme(i)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
  