.footer {
  background-color: #383b38; 
  color: white;
  padding: 20px 0;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.footer-links li {
  margin: 5px 5px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-info {
  background-color: #333; /* Black-grey background color */
  color: white;
  padding: 4px 0;
  text-align: center;
  margin-top: 10px;
}
