.marqu-covid {
    padding: 10px;
    background-color: #4caf50; /* Green background color */
    border-radius: 4px;
    max-width: 100%; /* Adjust the width as needed */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    white-space: nowrap; /* Prevent line breaks */
  }
  
  .marqu-covid a.external {
    color: #fff; /* White text color */
    text-decoration: none;
    font-weight: bold; /* Make the text bold */
    margin-right: 20px; /* Add some space between links */
  }
  
  .marqu-covid a.external:last-child {
    margin-right: 0; /* Remove margin for the last link */
  }
  