<section class="latest-news">
    <div class="btm-news">
      <div class="col-md-12">
        <div class="row">
          <div class="newscontent">
            <div>नवीनतम सूचनाएँ</div>
            <marquee behavior="scroll" scrollamount="5" direction="left">
              <ng-container *ngFor="let notice of notices">
                <a [href]="notice.url" target="_blank">
                  <img alt="" src="assets/images/new.gif" width="60px" />
                  &nbsp;{{ notice.text }}
                </a>
                &nbsp;&nbsp;
              </ng-container>
            </marquee>
          </div>
        </div>
      </div>
    </div>
  </section>
  